*{
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
.box{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.bar{
   
width: 50%;
height: 5vh;
border-radius: 20px;
border: 1px solid black;
color: rgb(0, 0, 0);
display: flex;
justify-content: center;
    
}

.bar p{
    width: 10%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    

}